<!DOCTYPE html>
<html lang="en">
<head>
	{% include "html-head.twig" %}
</head>
<body class="is-loading">
	<div id="container">

		<noscript>
			{% include "noscript.twig" %}
		</noscript>

		{% include "preloader.twig" %}
		{% include "site-header.twig" with { "menu": menu } %}

		<div id="app">
			{% block content %}
			{% endblock %}
		</div>

		<div class="js-mobile-menu mobile-menu">
			<div class="mobile-menu__inner">
				<span class="mobile-menu__close-label js-mobile-menu-close-label">
					<span>Close</span>
				</span>
				{% if mobile_menu %}
					<ul class="{{ 'mobile-menu__list' }}">
						{% for item in mobile_menu.get_items %}
							<li class="{{ 'mobile-menu__item' }}">
								<a class="mobile-menu__link js-menu-link{{ loop.index == loop.length ? ' color-gold' }}"
									target="{{ item.is_external ? '_blank' : '_self' }}"
					        href="{{ item.is_external ? item.link : item.link|relative }}"
								>
									<span>{{ item.title }}</span>
					      </a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<div class="transition-overlay js-overlay">
			<div class="transition-overlay__layer transition-overlay__layer--top js-layer-top">
				<div class="page-loader js-page-loader">
					<div class="page-loader__inner">
						{% include "badge-logo.twig" with {
							logo_classes: 'page-loader__logo page-loader__logo--background',
							textColor: colors.white,
							bgColor: colors.black
						} %}
						<div class="page-loader__progress js-page-loader-progress">
							<div class="page-loader__progress-inner js-page-loader-progress-inner">
								{% include "badge-logo.twig" with {
									logo_classes: 'page-loader__logo page-loader__logo--progress',
									textColor: colors.white,
									bgColor: colors.gold
								} %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="transition-overlay__layer transition-overlay__layer--bottom js-layer-bottom"></div>
		</div>

	</div>

	<script>
		window.APP = window.APP || {}
		APP.BASE_URL = "{{site.url}}"
		APP.BASE_URL_RELATIVE = "{{site.url|relative}}"
		APP.THEME_URL = "{{site.theme.uri}}"
		APP.AJAX_URL = "{{fn("admin_url", "admin-ajax.php")}}"
	</script>
	<script src="{{site.theme.link}}/js/vendor.bundle.js" defer></script>
  <script src="{{site.theme.link}}/js/app.bundle.js" defer></script>
	{{ wp_footer }}
</body>
</html>
