<!DOCTYPE html>
<html lang="en">
<head>
	{% include "html-head.twig" %}
</head>
<body class="is-loading">
	<div id="container">

		<noscript>
			{% include "noscript.twig" %}
		</noscript>

		{% include "preloader.twig" %}
		{% include "site-header.twig" with { "menu": menu } %}

		<div id="app">
			{% block content %}
				<div class="view" data-namespace="home">
					<section class="section">
						{% if posts %}
							<div class="section__row flex-column">
						      {% include 'post-title-list.twig' with {
										"props": posts
									} %}
							</div>
						{% else %}
							<div class="section__row flex-column">
			      		<p>Nothing to show.</p>
							</div>
			    	{% endif %}
					</section>
				</div>
			{% endblock %}
		</div>

		<div class="transition-overlay js-overlay">
			<div class="transition-overlay__layer transition-overlay__layer--top js-layer-top"></div>
			<div class="transition-overlay__layer transition-overlay__layer--bottom js-layer-bottom"></div>
		</div>

	</div>

	<script>
		window.APP = window.APP || {}
		APP.BASE_URL = "{{site.url}}"
		APP.BASE_URL_RELATIVE = "{{site.url|relative}}"
		APP.THEME_URL = "{{site.theme.uri}}"
		APP.AJAX_URL = "{{fn("admin_url", "admin-ajax.php")}}"
	</script>
	<script src="{{site.theme.link}}/js/vendor.bundle.js" defer></script>
  <script src="{{site.theme.link}}/js/app.bundle.js" defer></script>
	{{ wp_footer }}
</body>
</html>
