<!DOCTYPE html>
<html lang="en">
<head>
	{% include "html-head.twig" %}
</head>
<body class="is-loading menu--is-open">
	<div id="container">

		<noscript>
			{% include "noscript.twig" %}
		</noscript>

		{% include "preloader.twig" %}
		{% include "site-header.twig" with { "menu": menu } %}

		<div id="app">
			{% block content %}
			{% endblock %}
		</div>

		<div class="transition-overlay js-overlay">
			<div class="page-loader js-page-loader">
				<div class="page-loader__inner">
					{% include "header-logo.twig" with {
						logo_classes: 'page-loader__logo page-loader__logo--background'
					} %}
					<div class="page-loader__progress js-page-loader-progress">
						<div class="page-loader__progress-inner js-page-loader-progress-inner">
							{% include "header-logo.twig" with {
								logo_classes: 'page-loader__logo page-loader__logo--progress'
							} %}
						</div>
					</div>
				</div>
			</div>
			<div class="transition-overlay__layer transition-overlay__layer--top js-layer-top"></div>
			<div class="transition-overlay__layer transition-overlay__layer--bottom js-layer-bottom"></div>
		</div>

	</div>

	<script>
		window.APP = window.APP || {}
		APP.BASE_URL = "{{site.url}}"
		APP.BASE_URL_RELATIVE = "{{site.url|relative}}"
		APP.THEME_URL = "{{site.theme.uri}}"
		APP.AJAX_URL = "{{fn("admin_url", "admin-ajax.php")}}"
	</script>
	<script src="{{site.theme.link}}/js/vendor.bundle.js" defer></script>
  <script src="{{site.theme.link}}/js/app.bundle.js" defer></script>
	{{ wp_footer }}
</body>
</html>
