{% if url %}
  {% set tag = 'a' %}
{% else %}
  {% set tag = 'button' %}
{% endif %}

<{{ tag }} class="circle-button circle-button--{{ direction }}{% if class %} {{ class }}{% endif %}"
  {% if url %}href="{{ url }}"{% endif %}
  style="color: {{ color }}"
>
  <span class="circle-button__circle" style="border-color: {{ color }}">
    <span class="circle-button__arrow">
      {% include 'arrow-' ~ direction ~ '.twig' with { 'color': color } %}
    </span>
    <span class="circle-button__arrow">
      {% include 'arrow-' ~ direction ~ '.twig' with { 'color': color } %}
    </span>
  </span>
  {% if label %}
    <span class="circle-button__label">
      {{ label }}
    </span>
  {% endif %}
</{{ tag }}>
