<ul class="event-tease-list">
  {% for event in props %}
    <li class="event-tease-list__item">
      <a class="event-tease-list__link" href="{{ event.link|relative }}">

        <div class="event-tease-list__inner">
          <span class="event-tease-list__date">{{ event.date }}</span>
          <h3 class="event-tease-list__title">{{ event.title }}</h3>
          <span class="event-tease-list__rule"></span>
          <div class="event-tease-list__excerpt">{{ event.post_excerpt }}</div>
        </div>

        <div
          class="event-tease-list__image"
          style="background-image: url({{ TimberImage(event.thumbnail).src }})"></div>
      </a>
    </li>
  {% endfor %}
</ul>
