<div class="hero{{ is_home ? ' hero--front-page' : half_image ? ' hero--half-image' }}{{ has_black ? ' hero--black'}}{{ aux ? ' hero--aux'}}{{ classes ? ' ' ~ classes}}">
  <div class="hero__inner">
    <h1 class="hero__heading">
      {{ hero_text }}
    </h1>
  </div>

  {% if hero_image %}
    <div class="hero__image" style="background-image: url({{ Image(hero_image).src }});"></div>
  {% endif %}

  {% if hero_video %}
    <div class="hero__video-container hero__video-container--video-loading js-video-container" data-src="{{ hero_video }}"></div>
  {% endif %}
</div>
