{% if menu %}
	<ul class="{{ block ~ '__list' }}">
	{% for item in menu.get_items %}
		<li class="{{ block ~ '__item' }}">
			{# TODO: ECP x Barba.js integration #}
			<a class="{{ loop.index == 5 ? 'no-barba '}}{{ loop.index == loop.length ? block ~ '__button' : block ~ '__link' }}"
				target="{{ item.is_external ? '_blank' : '_self' }}"
        href="{{ item.is_external ? item.link : item.link|relative }}">
					{% if loop.index == loop.length %}
						<span>{{ item.title }}</span>
					{% else %}
						{{ item.title }}{{ item.get_children ? '<span class="primary-navigation__dropdown-icon">▾</span>'}}
					{% endif %}
      </a>
			{% if item.get_children %}
				<ul class="dropdown">
					{% for child in item.get_children %}
						<li class="dropdown__item">
							<a class="dropdown__link"
								target="{{ child.is_external ? '_blank' : '_self' }}"
								href="{{ child.is_external ? child.link : child.link|relative }}">
									<span>{{ child.title }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
