{% if menu %}
	<ul class="{{ block ~ '__list' }}">
	{% for item in menu.get_items %}
		<li class="{{ block ~ '__item' }}">
			<a
				data-text="{{ item.title }}"
        class="{{ block ~ '__link' }}"
        target="{{ item.target }}"
        href="{{ item.link }}">
          {{ item.title }}
      </a>
			{% include "menu.twig" with {"menu": item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
