<div class="js-mobile-menu mobile-menu">
  <div class="mobile-menu__inner">
    <span class="mobile-menu__close-label js-mobile-menu-close-label">
      <span>Close</span>
    </span>
    {% if mobile_menu %}
      <ul class="{{ 'mobile-menu__list' }}">
        {% for item in mobile_menu.get_items %}
          <li class="{{ 'mobile-menu__item' }}">
            <a class="mobile-menu__link js-menu-link{{ loop.index == loop.length ? ' color-gold' }}"
              target="{{ item.is_external ? '_blank' : '_self' }}"
              href="{{ item.is_external ? item.link : item.link|relative }}"
            >
              <span>{{ item.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
