{% for post in featured_programs %}
  <section id="{{ post.slug }}"
    class="js-section js-fx-trigger overflow-hidden section columns-block columns-block--{{ post.has_background_image ? 'bg' : post.get_field('countup')|length > 0 ? 'stats' : 'normal' }}"
    data-background="{{ post.has_background_image ? 'black' : 'white' }}">
    <div class="pt-12p pt-18p-md pr-8p {{ post.get_field('countup')|length > 0 ? 'pb-4p' : 'pb-18p' }} pl-18p pl-8p-lg">
      <div class="columns-block__row">

          {% include 'text-block.twig' with {
            props: {
              heading: post.title,
              body: post.body,
              button: post.get_field('button')
            },
            classes: post.has_background_image ? 'color-white mb-8-lg mb-6-md mb-4-sm' : 'mb-8-lg mb-6-md mb-4-sm'
          } %}

        {% if not post.has_background_image %}
          <div class="columns-block__image-cluster">
            {% for image in post.images %}
              <img
                class="columns-block__image columns-block__image--{{ loop.index }} columns-block__image--{{ Image(image).aspect < 1 ? 'portrait' : 'landscape' }}{{ loop.index == 2 ? ' js-parallax' }}"
                {% if loop.index == 2 %}
                  data-speed="0.05"
                {% endif %}
                src="{{ Image(image).src }}"
                alt="{{ post.title }}">
            {% endfor %}
          </div>
        {% endif %}

      </div>

      {% if post.get_field('countup')|length > 0 %}
        <div class="flex pt-6p">
          {% for stat in post.get_field('countup') %}
            <div class="stat js-countup" data-countup="{{ stat.number }}">
              <number class="stat__number">{{ stat.number }}{{  stat.plus_sign ? '+' }}</number>
              <span class="stat__caption">{{ stat.text }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if post.has_background_image %}
      <div class="columns-block__background-image js-parallax"
        data-speed="-0.175"
        style="background-image: url({{ Image(post.images[0]).src }})"></div>
    {% endif %}
  </section>
{% endfor %}
