{% for post in featured_programs %}

{% set advisory_committee_block = post.get_field("advisory_committee_block") %}


  <section id="{{ post.slug }}"
    class="js-section js-fx-trigger overflow-hidden section columns-block columns-block--{{ post.has_background_image ? 'bg' : post.get_field('countup')|length > 0 ? 'stats' : 'normal' }}"
    data-background="{{ post.has_background_image ? 'black' : 'white' }}">
    <div class="{{ post.has_committee ? 'pt-18p' : 'pt-12p' }} pt-18p-md pr-8p {{ post.get_field('countup')|length > 0 ? 'pb-4p' : 'pb-18p' }} pl-18p pl-8p-lg">
      <div class="columns-block__row">

          {% include 'text-block.twig' with {
            props: {
              heading: post.title,
              body: post.body,
              button: post.get_field('button')
            },
            classes: post.has_background_image ? 'color-white mb-8-lg mb-6-md mb-4-sm' : 'mb-8-lg mb-6-md mb-4-sm'
          } %}

        {% if not post.has_background_image %}
          <div class="columns-block__image-cluster">
            {% for image in post.images %}
              <img
                class="columns-block__image columns-block__image--{{ loop.index }} columns-block__image--{{ Image(image).aspect < 1 ? 'portrait' : 'landscape' }}{{ loop.index == 2 ? ' js-parallax' }}"
                {% if loop.index == 2 %}
                  data-speed="0.05"
                  {% if post.has_committee %}
                    style="top:30%;"
                  {% endif %}
                {% endif %}
                src="{{ Image(image).src }}"
                alt="{{ post.title }}">
            {% endfor %}
          </div>
        {% endif %}
      </div> <!-- ends row -->


      <!-- Adds Advisory Committee if applicable for this program -->
      {% if post.has_committee %}
      <!-- Check to see if committee is Hack Diversity -->
        {% if advisory_committee_block.which_committee == 'hack-diversity' %}
          <div class="columns-block__row justify-content-between-important">
            <div class="pt-12p">
              <div class="pb-6 pb-2-sm">
                {% include "text-block.twig" with {
                props: {
                heading: advisory_committee_block.heading,
                body: advisory_committee_block.body
                },
                classes: post.has_background_image ? 'color-white'
                } %}
              </div>
              <div class="pr-6p pr-0-lg js-fx">
                <div class="scroll-x-lg pl-8p-lg pl-0-sm pr-12p-lg">
                  {% include "board-member-list.twig" with {
                  "props": advisory_committee_block.ac_hack_diversity
                  }
                  %}
                </div>
                <div class="mt-2 hidden block-lg color-white">
                  {% include "scroll-cta.twig" %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <!-- Check to see if committee is Syndicate Sessions -->
        {% if advisory_committee_block.which_committee == 'sydicate-sessions' %} <!-- This is intentionnally mispelled because wordpress is being dumb and not updating the ACF field-->
          <div class="columns-block__row no-flex">
            <div class="pt-19p">
              <div class="pb-6 pb-2-sm">
                {% include "text-block.twig" with {
                props: {
                heading: advisory_committee_block.heading,
                body: advisory_committee_block.body
                },
                classes: post.has_background_image ? 'color-white'
                } %}
              </div>
              <div class="pr-6p pr-0-lg js-fx">
                <div class="scroll-x-lg pl-8p-lg pr-12p-lg">
                  {% include "board-member-list.twig" with {
                  "props": advisory_committee_block.ac_syndicate_sessions
                  }
                  %}
                </div>
                <div class="mt-2 hidden block-lg">
                  {% include "scroll-cta.twig" %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}



      {% if post.get_field('countup')|length > 0 %}
        <div class="flex pt-6p">
          {% for stat in post.get_field('countup') %}
            <div class="stat js-countup" data-countup="{{ stat.number }}">
              <number class="stat__number">{{ stat.number }}{{  stat.plus_sign ? '+' }}</number>
              <span class="stat__caption">{{ stat.text }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div> <!-- Ends whole block -->


    {% if post.has_background_image %}
      <div class="columns-block__background-image js-parallax"
        data-speed="-0.175"
        style="background-image: url({{ Image(post.images[0]).src }})"></div>
    {% endif %}
  </section>
{% endfor %}
