{% set newsletter_column = options.newsletter_column %}
{% set contact_column = options.contact_column %}

<footer class="site-footer">
  <div class="flex p-8p is-black">
    {% if footer_menu %}
      {% for item in footer_menu.get_items %}
        <div class="site-footer__column">
          <h5 class="site-footer__heading">
            {{ item.title }}
          </h5>
          <div class="site-footer__list">
            {% for child in item.get_children %}
              <div class="site-footer__item">
                <a class="site-footer__link"
                   href="{{ child.is_external ? child.link : child.link|relative }}"
                   target="{{ child.is_external ? '_blank' : '_self' }}"
                >
                  {{ child.title }}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="site-footer__column">
      <h5 class="site-footer__heading">
        {{ newsletter_column.heading }}
      </h5>
      <div class="site-footer__body">
        {{ newsletter_column.body }}
      </div>
    </div>
    <div class="site-footer__column">
      <h5 class="site-footer__heading">
        {{ contact_column.heading }}
      </h5>
      <div class="site-footer__body">
        <p><a href="{{ 'mailto:' ~ contact_column.contact_email }}">{{ contact_column.contact_email }}</a></p>
      </div>
      <div class="site-footer__social-media-links">
        <a class="site-footer__social-media-link"
           href="{{ contact_column.social_media_links.facebook }}">
          {% include "social-icon-facebook.twig" with {
            primary_fill: colors.white
          } %}
        </a>
        <a class="site-footer__social-media-link"
           href="">
          {% include "social-icon-twitter.twig" with {
            primary_fill: colors.white
          } %}
        </a>
        <a class="site-footer__social-media-link"
           href="">
          {% include "social-icon-medium.twig" with {
            bg_fill: 'none',
            primary_fill: colors.white
          } %}
        </a>
      </div>
    </div>
  </div>
</footer>
