{% set newsletter_column = options.newsletter_column %}
{% set contact_column = options.contact_column %}

<footer class="site-footer">
  <div class="flex block-lg p-8p py-16p-md is-black">
    {% if footer_menu %}
      <div class="flex flex-1 mb-4-lg">
        {% for item in footer_menu.get_items %}
          <div class="flex-1 pr-5">
            <h5 class="site-footer__heading">
              {{ item.title }}
            </h5>
            <div class="site-footer__list">
              {% for child in item.get_children %}
                <div class="site-footer__item">
                  <a class="site-footer__link"
                     href="{{ child.is_external ? child.link : child.link|relative }}"
                     target="{{ child.is_external ? '_blank' : '_self' }}"
                  >
                    {{ child.title }}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="flex block-sm flex-1">
      
      <div class="flex-1 pr-5 mb-4-sm">
        <h5 class="site-footer__heading">
          {{ contact_column.heading }}
        </h5>
        <div class="site-footer__body">
          <p><a href="{{ 'mailto:' ~ contact_column.contact_email }}">{{ contact_column.contact_email }}</a></p>
        </div>
        <div class="site-footer__social-media-links">
          {% if contact_column.social_media_links.twitter %}
            <a class="site-footer__social-media-link"
               href="{{ contact_column.social_media_links.twitter }}"
               target="_blank">
              {% include "social-icon-twitter.twig" with {
                primary_fill: colors.white
              } %}
            </a>
          {% endif %}
          {% if contact_column.social_media_links.medium %}
            <a class="site-footer__social-media-link"
               href="{{ contact_column.social_media_links.medium }}"
               target="_blank">
              {% include "social-icon-medium.twig" with {
                primary_fill: colors.white
              } %}
            </a>
          {% endif %}
          {% if contact_column.social_media_links.linkedin %}
            <a class="site-footer__social-media-link"
               href="{{ contact_column.social_media_links.linkedin }}"
               target="_blank">
              {% include "social-icon-linkedin.twig" with {
                primary_fill: colors.white
              } %}
            </a>
          {% endif %}
          {% if contact_column.social_media_links.facebook %}
            <a class="site-footer__social-media-link"
               href="{{ contact_column.social_media_links.facebook }}"
               target="_blank">
              {% include "social-icon-facebook.twig" with {
                primary_fill: colors.white
              } %}
            </a>
          {% endif %}
        </div>
      </div>
      
      <div class="flex-1 pr-5-lg">
        <h5 class="site-footer__heading">
          {{ newsletter_column.heading }}
        </h5>
        <div class="site-footer__body">
          {{ newsletter_column.body }}
        </div>
      </div>
    </div>
  </div>
</footer>
