<div class="testimonial-slider{{ is_white ? ' testimonial-slider--white' }}{{ classes ? ' ' ~ classes }}">
  <script>
    window.testimonialTimeout = {{ options.testimonial_settings.timeout }}
  </script>
  <ul class="testimonial-slider__quote-list">
    {% for item in props %}
      <li class="js-slide testimonial-slider__quote-item">
        <blockquote class="js-text testimonial-slider__quote">
          {{ item.quote }}
        </blockquote>
        <span class="js-text testimonial-slider__attribution">
          {{ item.title }}, {{ item.description }}
        </span>
      </li>
    {% endfor %}
  </ul>
  <div class="testimonial-slider__pagination">
    {% include "circle-button-progress.twig" with {
      "direction": "right",
      "class": "js-next"
    } %}
  </div>
</div>
