{% if not tag %}
  {% set tag = 'h2' %}
{% endif %}

<div class="{{ is_lede ? 'text-block text-block--lede' : 'text-block' }}{{ classes ? ' ' ~ classes }}">
  {% if not is_lede %}
    <{{ tag }} class="text-block__heading">
      <span class="text-block__rule"></span>
      {{ props.heading }}
    </{{ tag }}>
  {% endif %}
  <div class="text-block__body">
    {{ props.body }}
    {% if props.button %}
      {% include "button.twig" with {
        props: props.button
      } %}
    {% endif %}
  </div>
</div>
