{% if not tag %}
  {% set tag = 'h2' %}
{% endif %}

<div class="{{ is_lede ? 'text-block text-block--lede' : 'text-block' }}{{ classes ? ' ' ~ classes }}">
  {% if not is_lede %}
    <{{ tag }} class="text-block__heading{{ heading_classes ? ' ' ~ heading_classes }}">
      {% if not no_rule %}
        <span class="text-block__rule js-fx" data-tween="line"></span>
      {% endif %}
      {{ props.heading }}
    </{{ tag }}>
  {% endif %}
  <div class="text-block__body{{ body_classes ? ' ' ~ body_classes }}">
    {{ props.body }}
    {% if props.button %}
      {% include "button.twig" with {
        props: props.button,
        button_classes: button_classes
      } %}
    {% endif %}
  </div>
</div>
