{% extends "base.twig" %}

{% set mission_block = post.get_field("mission_block") %}
{% set events_block = post.get_field("events_block") %}
{% set community_block = post.get_field("community_block") %}
{% set members_block = post.get_field("members_block") %}
{% set sponsors_block = post.get_field("sponsors_block") %}
{% set press_block = post.get_field("press_block") %}
{% set faq_block = post.get_field("faq_block") %}

{% block content %}
  <div class="view" data-namespace="home">
    <!-- Hero -->
    {% include "hero.twig" with {
      "hero_text": post.hero_text,
      "is_home": true,
      "hero_image": post.hero_image,
      "hero_video": post.get_field('hero_video')
    } %}
    <!-- Mission -->
    <section id="mission" class="js-section section section--top js-fx-trigger">
      <div class="flex block-md justify-content-between px-8p px-0-lg py-12p pb-0-md">
        <!-- Mission Text -->
        {% include "text-block.twig" with {
          "props": mission_block,
          "is_lede": true,
          "classes": 'pl-4p-lg pl-3-md pr-3-md mb-7-md order-2'
        } %}

        <!-- Mission Images -->
        {% include "image-cluster.twig" with {
          "images": mission_block.image_cluster,
          "first_full": true
        } %}
      </div>
    </section>
    <!-- Events -->
    <section id="events" class="js-section section is-black py-12p py-20p-md js-fx-trigger">
      <div class="js-parallax" data-speed="0.175">
        <!-- Events Text -->
        <div class="flex block-md px-8p mb-4-md">
          {% include "text-block.twig" with {
            "props": events_block
          } %}
        </div>
        <!-- Event Tease List -->
        <div class="section__row pt-4p px-8p pr-0-lg">
          <div class="scroll-x-lg pb-6p">
            <div class="flex min-w-md">
              {% include 'event-tease-list.twig' with {
                "props": featured_events
              } %}
              <!-- View more circle button -->
              <div class="align-self-end pl-2 pr-3-lg">
                {% include 'circle-button.twig' with {
                  direction: 'right',
                  url: site.link ~ '/events' | relative,
                  label: 'View all',
                  color: colors.gold,
                  class: 'no-barba'
                } %}
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-4 hidden block-lg">
          {% include "scroll-cta.twig" %}
        </div>
        <div class="hidden block-lg text-align-center">
          {% include "button.twig" with {
            "props": {
              "url": site.link|relative ~ '/events/month',
              "target": '_self',
              "title": 'View all'
            },
            "button_classes": 'no-barba'
          } %}
        </div>
      </div>
    </section>
    <!-- Community -->
    <section id="community" class="js-section section px-14p px-3-sm py-12p js-fx-trigger">
      <div class="flex block-md justify-content-between">
        <!-- Community Text -->
        {% include "text-block.twig" with {
          "props": community_block,
          "classes": 'pt-6p mb-5-md order-2'
        } %}

        <div class="pr-16p pr-0-md js-parallax" data-speed="0.1">
          {% set mtw = community_block.member_to_watch %}
          {% set ctw = community_block.company_to_watch %}

          <div class="blog-post-tease">
            <div class="blog-post-tease__image-mask">
              <img class="blog-post-tease__image" src="{{ Image(mtw.author_avatar).src }}" alt="{{ mtw.title }}">
            </div>
            <h4 class="blog-post-tease__subheading">Member to Watch</h4>
            <h3 class="blog-post-tease__heading">{{ mtw.title }}</h3>
            <a class="blog-post-tease__link text-button text-button--underline" href="{{ mtw.link.url }}" target="{{ mtw.link.target }}">{{ mtw.link.title }}</a>
          </div>

          <div class="blog-post-tease">
            <div class="blog-post-tease__image-mask">
              <img class="blog-post-tease__image" src="{{ Image(ctw.author_avatar).src }}" alt="{{ ctw.title }}">
            </div>
            <h4 class="blog-post-tease__subheading">Company to Watch</h4>
            <h3 class="blog-post-tease__heading">{{ ctw.title }}</h3>
            <a class="blog-post-tease__link text-button text-button--underline" href="{{ ctw.link.url }}" target="{{ ctw.link.target }}">{{ ctw.link.title }}</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Members Block -->
    <section id="members" class="section pt-12p pb-4p py-12p-lg px-8p px-0-lg is-black js-fx-trigger">
      <script>
        window.sliderTimeout = {{ members_block.slider_timeout }}
      </script>
      <div class="js-parallax" data-speed="0.025">
        <h3 class="text-block__subheading color-gold pl-3-lg">{{ members_block.heading }}</h3>
        <div class="flex scroll-x-lg">
          <div class="js-slider member-logo-grid min-w-md">
            {% for group in member_groups %}
              <div class="js-slide member-logo-grid__group member-logo-grid__group--{{ loop.index > 1 ? 'hidden' : 'visible' }}">
                {% for member in group %}
                  {% set logo = Image(member.image) %}
                  <a href="{{ member.website }}" target="_blank" rel="nofollow noreferrer"
                    class="member-logo-grid__item member-logo-grid__item--{{ logo.width / logo.height < 2 ? 'square' }}">
                    <img class="member-logo-grid__image"
                      src="{{ logo.src }}" alt="{{ member.title }}">
                  </a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
          <!-- View more circle button -->
          <div class="align-self-end pl-12p mb-5 hidden-lg">
            {% include 'circle-button.twig' with {
              direction: 'right',
              url: site.link ~ '/members' | relative,
              label: 'View all',
              color: colors.gold
            } %}
          </div>
        </div>
        <div class="mt-2 mb-4 hidden block-lg">
          {% include "scroll-cta.twig" %}
        </div>
        <div class="text-align-center-lg">
          {% if members_block.has_button %}
            {% include "button.twig" with {
              props: members_block.button,
              button_classes: 'button--white'
            } %}
          {% endif %}
        </div>
      </div>
    </section>

    <!-- Sponsors Block -->
    <section id="sponsors" class="section flex justify-content-end js-fx-trigger">
      <div class="absolute pos-tl w-100 h-50 is-black hidden-lg"></div>
      <div class="w-70 w-100-lg py-6p py-12p-lg pl-6p pl-3-lg pl-0-md pr-12p pr-3-lg pr-0-md is-blue z-index-1 js-parallax" data-speed="0.15">
        <h3 class="text-block__subheading color-gold pl-3-md">{{ sponsors_block.heading }}</h3>
        <div class="flex scroll-x-lg px-3-md">
          <div class="sponsor-logo-grid min-w-md-md">

            <div class="sponsor-logo-grid__section">
              <h4 class="sponsor-logo-grid__tier">Major</h4>
              {% for sponsor in sponsors_block.major_sponsors %}
                {% set logo = Image(sponsor.logo) %}
                <a href="{{ sponsor.website_link }}" target="_blank" rel="nofollow noreferrer"
                  class="sponsor-logo-grid__item sponsor-logo-grid__item--{{ logo.width / logo.height < 2 ? 'square' }}">
                  <img class="sponsor-logo-grid__image"
                    src="{{ logo.src }}" alt="{{ sponsor.title }}">
                </a>
              {% endfor %}
            </div>

            <div class="sponsor-logo-grid__section">
              <h4 class="sponsor-logo-grid__tier">Supporting</h4>
              {% for sponsor in sponsors_block.supporting_sponsors %}
                {% set logo = Image(sponsor.logo) %}
                <a href="{{ sponsor.website_link }}" target="_blank" rel="nofollow noreferrer"
                  class="sponsor-logo-grid__item sponsor-logo-grid__item--{{ logo.width / logo.height < 2 ? 'square' }}">
                  <img class="sponsor-logo-grid__image sponsor-logo-grid__image--invert"
                    src="{{ logo.src }}" alt="{{ sponsor.title }}">
                </a>
              {% endfor %}
            </div>
          </div>
          <!-- View more circle button -->
          <div class="align-self-end pl-12p mb-5 hidden-lg">
            {% include 'circle-button.twig' with {
              direction: 'right',
              url: site.link ~ '/sponsors' | relative,
              label: 'View all',
              color: colors.gold
            } %}
          </div>
        </div>

        <div class="mt-2 mb-4 hidden block-lg">
          {% include "scroll-cta.twig" %}
        </div>
        <div class="text-align-center-lg">
          {% if sponsors_block.has_button %}
            {% include "button.twig" with {
              props: sponsors_block.button,
              button_classes: 'button--white'
            } %}
          {% endif %}
        </div>
      </div>
    </section>

    <!-- Press Block -->
    <section id="press" class="section pt-8p pb-14p py-12p-lg px-20p px-12p-lg px-16p-sm text-align-center js-fx-trigger">
      <div class="js-parallax" data-speed="0.1">
        <h3 class="text-block__subheading color-gold">{{ press_block.heading }}</h3>
        <div class="publication-grid">
          {% for pub in press_block.publications %}
            <a href="{{ site.link|relative ~ '/press' }}" target="_blank"
              class="publication-grid__item">
              <img class="publication-grid__image"
                src="{{ Image(TimberTerm(pub.term_id).logo).src }}" alt="{{ pub.name }}">
            </a>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include "faq-tease-block.twig" with {
      "props": faq_block
    } %}

    {% include "site-footer.twig" %}
  </div>
{% endblock %}
