{% extends "base.twig" %}

{% set mission_block = post.get_field("mission_block") %}
{% set events_block = post.get_field("events_block") %}
{% set community_block = post.get_field("community_block") %}
{% set members_block = post.get_field("members_block") %}
{% set press_block = post.get_field("press_block") %}
{% set faq_block = post.get_field("faq_block") %}

{% block content %}
  <div class="view" data-namespace="home">
    <!-- Hero -->
    {% include "hero.twig" with {
      "hero_text": post.hero_text,
      "is_home": true
    } %}
    <!-- Mission -->
    <section id="mission" class="section">
      <div class="section__row justify-content-end">
        <!-- Mission Text -->
        {% include "text-block.twig" with {
          "props": mission_block
        } %}
        <!-- Mission Images -->
        {% include "image-cluster.twig" with {
          "images": mission_block.image_cluster,
          "ampersand": true
        } %}
      </div>
    </section>
    <!-- Events -->
    <section id="events" class="section bg-alt">
      <!-- Events Text -->
      <div class="section__row">
        {% include "text-block.twig" with {
          "props": events_block
        } %}
      </div>
      <!-- Event Tease List -->
      <div class="section__row">
        <div class="relative w-100">
          {% include 'tease-list.twig' with {
            "props": 1..4
          } %}
          <!-- View more circle button -->
          <div class="absolute pos-br translate-x-100 p-left-3">
            {% include 'circle-button.twig' with {
              direction: 'right',
              url: '/events',
              label: 'View all'
            } %}
          </div>
        </div>
      </div>
    </section>
    <!-- Community -->
    <section id="community" class="section">
      <div class="section__row justify-content-end">
        <!-- Community Text -->
        {% include "text-block.twig" with {
          "props": community_block
        } %}
        <div class="image image--top image--left image--padding w-40">
          <div class="image__inner" style="background-image: url({{ TimberImage(community_block.images[0]).src }})"></div>
        </div>
      </div>
      <!-- Community Content Tease List -->
      <div class="section__row">
        {% include 'tease-list.twig' with {
          "props": community_block.featured_posts
        } %}
        <div class="image image--right p-top-10 w-50">
          <div class="image__inner" style="background-image: url({{ TimberImage(community_block.images[1]).src }})"></div>
        </div>
      </div>

      <div class="section__row">
        <div class="w-75 z-index-1">
          <h3 class="text-block__subheading">{{ members_block.heading }}</h3>
          {% include 'tease-list.twig' with {
            "props": featured_members,
            "wrap": true,
            "flex_basis": 20
          } %}
          {% if members_block.has_button %}
            {% include "button.twig" with {
              props: members_block.button
            } %}
          {% endif %}
        </div>
      </div>

      <div class="section__row justify-content-end translate-x-7">
        <div class="w-75 z-index-1">
          <h3 class="text-block__subheading">{{ members_block.heading }}</h3>
          {% include 'tease-list.twig' with {
            "props": featured_members,
            "wrap": true,
            "flex_basis": 20
          } %}
          {% if members_block.has_button %}
            {% include "button.twig" with {
              props: members_block.button
            } %}
          {% endif %}
        </div>
      </div>

      <div class="p-6p">
        <div class="w-100 p-6p align-items-center bg-alt">
          <h2 class="text-block__heading text-align-center">{{ press_block.heading }}</h2>
          {% include 'tease-list.twig' with {
            "props": press_block.logos
          } %}
        </div>
      </div>

    </section>

    <!-- FAQ Section -->
    <section class="section bg-alt" id="faq">
      <div class="section__row flex-column">
        <div class="text-block__heading">
          <span class="text-block__rule"></span>
          {{ faq_block.heading }}
        </div>
        <div>
          <ul class="post-title-list">
            {% for faq in faq_block.featured_posts %}
              <li class="post-title-list__item">
                <a href="{{ faq.link|relative }}" class="post-title-list__link">
                  <span class="post-title-list__title-text">
                    {{ faq.title }}
                  </span>
                  <span class="post-title-list__arrow">
                    {% include 'arrow-right.twig' %}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
          <a href="{{ site.link ~ '/faq' | relative }}" class="text-button">View all</a>
        </div>
      </div>
    </section>

    <footer class="site-footer flex justify-content-center align-items-end"
      style="background-color: #B5B9C2; height: 320px">

      <span class="text-button p-y-3p" style="color: white; font-weight: 700;">Copyright NEVCA 2017</span>
    </footer>
  </div>
{% endblock %}
