{% extends 'base.twig' %}

{% set mission_block = post.get_field("mission_block") %}
{% set board_block = post.get_field("board_block") %}
{% set team_block = post.get_field("team_block") %}
{% set testimonials_block = post.get_field("testimonials_block") %}
{% set faq_block = post.get_field("faq_block") %}

{% block content %}

  <div class="view" data-namespace="about">
    {% include "hero.twig" with {
      "hero_text": post.hero_text,
      "hero_image": post.hero_image,
      "half_image": true,
      "classes": 'z-index-1',
    } %}

    <!-- Mission -->
    <section id="mission" class="js-section section">
      <div class="columns-block columns-block--left relative">
        <div class="flex flex-row-reverse justify-content-between py-16p is-black">
          {% include 'text-block.twig' with {
            props: {
              heading: mission_block.heading,
              body: mission_block.body,
              button: mission_block.button
            },
            classes: 'pl-4p pr-8p color-white'
          } %}
          {% if mission_block.countup|length > 0 %}
            <div class="columns-block__stats flex flex-column z-index-1">
              {% for stat in mission_block.countup %}
                <div class="stat js-countup" data-countup="{{ stat.number }}">
                  <number class="stat__number">{{ stat.number }}{{  stat.plus_sign ? '+' }}</number>
                  <span class="stat__caption">{{ stat.text }}</span>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="columns-block__image-cluster">
            {% for image in mission_block.image_cluster %}
              <img
                class="columns-block__image columns-block__image--sm columns-block__image--{{ loop.index }} columns-block__image--{{ Image(image).aspect < 1 ? 'portrait' : 'landscape' }}"
                src="{{ Image(image).src }}"
                alt="{{ post.title }}">
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!-- Board -->
    <section id="board" class="js-section section bg-alt">
      <div class="section__row flex-column">
        <h2 class="text-block__heading mb-6">
          <span class="text-block__rule"></span>
          {{ board_block.heading }}
        </h2>
        {% include "board-member-list.twig" with {
          "props": board_block.get_field('board_members')
        } %}
        <h3 class="text-block__subheading mb-3">Board of Overseers</h3>
        {% include "board-member-list.twig" with {
          "props": board_block.get_field('board_of_overseers')
        } %}
      </div>
    </section>

    <!-- Team -->
    <section id="team" class="js-section section">
      <div class="section__row justify-content-between">
        <!-- Team Text -->
        {% include "text-block.twig" with {
          "props": team_block
        } %}
      </div>
      <div class="section__row">
        <!-- Team Slider -->
        {% include "team-slider.twig" with {
          "props": team_block.team_members
        } %}
      </div>
    </section>

    <section id="testimonials" class="js-section section">
      {% include "testimonial-slider.twig" with {
        "props": testimonials_block.featured_posts
      } %}
    </section>

    {% include "faq-tease-block.twig" with {
      "props": faq_block
    } %}
    {% include "site-footer.twig" %}

    <nav class="js-page-navigation page-navigation">
      <ul class="page-navigation__list">
        <li class="page-navigation__item">
          <a class="js-anchor-link page-navigation__link" href="#mission">Mission</a>
        </li>
        <li class="page-navigation__item">
          <a class="js-anchor-link page-navigation__link" href="#board">Board</a>
        </li>
        <li class="page-navigation__item">
          <a class="js-anchor-link page-navigation__link" href="#team">Team</a>
        </li>
        <li class="page-navigation__item">
          <a class="js-anchor-link page-navigation__link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}
