{% extends 'base.twig' %}

{% set mission_block = post.get_field("mission_block") %}
{% set board_block = post.get_field("board_block") %}
{% set team_block = post.get_field("team_block") %}
{% set testimonials_block = post.get_field("testimonials_block") %}
{% set faq_block = post.get_field("faq_block") %}

{% block content %}

  <div class="view" data-namespace="about">
    {% include "hero.twig" with {
      "hero_text": post.hero_text,
      "hero_image": post.hero_image,
      "half_image": true,
      "classes": 'z-index-1',
    } %}

    <!-- Mission -->
    <section id="mission" class="js-section section js-fx-trigger" data-background="black">
      <div class="columns-block columns-block--left">
        <div class="py-8p py-4p-md is-black">
          <div class="flex-md flex-row-reverse justify-content-between py-15p py-8p-lg pt-15p-sm relative">
            {% include 'text-block.twig' with {
              props: {
                heading: mission_block.heading,
                body: mission_block.body,
                button: mission_block.button
              },
              classes: 'pl-4p pl-2p-lg pl-8p-md pr-8p pr-4p-lg pr-18p-md pr-8p-sm mb-3-md color-white'
            } %}
            {% if mission_block.countup|length > 0 %}
              <div class="columns-block__stats flex flex-column flex-row-md flex-column-sm z-index-1">
                {% for stat in mission_block.countup %}
                  <div class="stat js-countup" data-countup="{{ stat.number }}">
                    <number class="stat__number">{{ stat.number }}{{  stat.plus_sign ? '+' }}</number>
                    <span class="stat__caption">{{ stat.text }}</span>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <div class="columns-block__image-cluster hidden-md">
              {% for image in mission_block.image_cluster %}
                <img
                  class="columns-block__image columns-block__image--sm columns-block__image--{{ loop.index }} columns-block__image--{{ Image(image).aspect < 1 ? 'portrait' : 'landscape' }} js-parallax"
                  data-speed="{{ 0.025 * loop.index }}"
                  src="{{ Image(image).src }}"
                  alt="{{ post.title }}">
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Board -->
    <section id="board" class="js-section section js-fx-trigger" data-background="white">
      <div class="py-12p">
        <div class="px-20p pl-8p-lg pb-6">
          {% include "text-block.twig" with {
            props: {
              heading: board_block.heading,
              body: board_block.body
            }
          } %}
        </div>
        <div class="pl-12p pl-0-lg pr-6p pr-0-lg js-fx">
          <div class="scroll-x-lg pl-8p-lg pr-12p-lg">
            {% include "board-member-list.twig" with {
              "props": board_block.board_members
            } %}
          </div>
          <div class="mt-2 hidden block-lg">
            {% include "scroll-cta.twig" %}
          </div>
          {# TODO: Make these sections toggle-able (board & overseers)
          <div class="pt-6 pb-4 pl-8p-lg">
            <h3 class="text-block__subheading color-gold">Board of Overseers</h3>
          </div>
          <div class="scroll-x-lg px-8p-lg">
            {% include "board-member-list.twig" with {
              "props": board_block.board_of_overseers
            } %}
          </div>
          <div class="mt-2 hidden block-lg">
            {% include "scroll-cta.twig" %}
          </div> #}
        </div>
      </div>
    </section>

    <!-- Team -->
    <section id="team" class="js-section section is-black js-fx-trigger" data-background="black">
      <div class="pt-12p pb-6p pb-10p-lg pl-15p pl-0-lg pr-8p pr-0-lg">
        <div class="section__row justify-content-between">
          <!-- Team Text -->
          {% include "text-block.twig" with {
            "props": team_block,
            "classes": 'pl-8p-lg'
          } %}
        </div>
        <div class="section__row pt-3p pt-0-lg pb-5p pb-0-lg pl-5p pl-0-lg">
          <div class="scroll-x pl-8p-lg">
            <!-- Team Slider -->
            {% include "team-slider.twig" with {
              "props": team_block.team_members
            } %}
          </div>
        </div>
        <div class="mt-3 mb-5 hidden block-lg">
          {% include "scroll-cta.twig" %}
        </div>
        <div class="section__row justify-content-center">
          <a class="button button--white" href="{{ team_block.jobs_link.url }}">
            <span>{{ team_block.jobs_link.title }}</span>
          </a>
        </div>
      </div>
    </section>

    <section id="testimonials" class="js-section section js-fx-trigger" data-background="gold">
      <div class="relative pr-12p pr-0-lg">
        <div class="pl-20p pl-8p-lg pt-10p-lg is-gold">
          <div class="columns-block__image-cluster">
            {% for image in testimonials_block.image_cluster %}
              <img
                class="columns-block__image columns-block__image--{{ loop.index }} columns-block__image--{{ Image(image).aspect < 1 ? 'portrait' : 'landscape' }}{{ loop.index == 2 ? ' js-parallax'}}"
                data-speed="0.1"
                src="{{ Image(image).src }}"
                alt="{{ post.title }}">
            {% endfor %}
          </div>
          <div class="py-12p py-0-lg pr-8p js-fx">
            {% include "testimonial-slider.twig" with {
              "props": testimonials_block.featured_posts,
              "is_white": true
            } %}
          </div>
        </div>
      </div>
    </section>

    {% include "faq-tease-block.twig" with {
      "props": faq_block
    } %}
    {% include "site-footer.twig" %}

    <nav class="js-page-navigation page-navigation inactive">
      <ul class="page-navigation__list">
        <li class="page-navigation__item">
          {# TODO: Make these links editable on WP #}
          <a class="js-anchor-link page-navigation__link" href="#mission">Who We Are</a>
        </li>
        <li class="page-navigation__item">
          <a class="js-anchor-link page-navigation__link" href="#board">Board</a>
        </li>
        <li class="page-navigation__item">
          <a class="js-anchor-link page-navigation__link" href="#team">Team</a>
        </li>
        <li class="page-navigation__item">
          <a class="js-anchor-link page-navigation__link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}
