{% extends 'base.twig' %}

{% set cta_block = post.get_field('cta_block') %}

{% block content %}
  <div class="view" data-namespace="newsletter">

    <div class="pt-8p pb-8p pb-0-sm px-18p px-0-sm">
      <h1 class="color-gold px-3-sm mb-4">{{ post.form_heading }}</h1>

      <div class="flex block-lg">
        <div class="flex-1 pr-8p pr-0-lg px-3-sm mb-2-lg">
          <div class="contact-form">
            {% filter shortcodes %}
              {{ post.contact_form_shortcode }}
            {% endfilter %}
          </div>
        </div>
        <div>
          <div class="p-5 text-align-center is-blue">
            <div class="mb-3">
              <p>{{ cta_block.cta_text }}</p>
            </div>
            <div class="button-group">
              {% for item in cta_block.buttons %}
                <a href="{{ item.button.url }}"
                   target="{{ item.button.target }}"
                   class="button-group__button button button--white">
                  <span>
                    {{ item.button.title }}
                  </span>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>

    {% include "faq-tease-block.twig" with {
      "props": {
        "heading": options.default_faqs_heading.heading,
        "featured_posts": options.default_faqs
      }
    } %}
    {% include "site-footer.twig" %}

  </div>
{% endblock %}
