{% extends 'base.twig' %}

{% set featured_member = post.get_field('featured_member') %}
{% set benefits_list = post.get_field('benefits_list') %}
{% set columns_block = post.get_field('columns_block') %}
{% set form_text_block = post.get_field('form_text_block') %}
{% set faq_block = post.get_field('faq_block') %}

{% block content %}

  <div class="view" data-namespace="membership">

    {% include "hero.twig" with {
      "hero_text": post.hero_text,
      "hero_image": post.hero_image,
      "half_image": true,
      "has_black": true
    } %}

    <div class="relative px-4p px-0-lg js-fx-trigger">
      <div class="flex block-md justify-content-between py-12p is-black">
        {% include 'text-block.twig' with {
          props: {
            heading: columns_block.heading,
            body: columns_block.body,
            button: columns_block.button
          },
          classes: 'pl-8p pr-4p mb-8p-md color-white'
        } %}
        <!--
          white rectangle positioned absolutely at the bottom of the relative
          parent to simulate images overlapping into other sections
        -->
        <div class="hidden block-md absolute pos-r pos-b pos-l h-40 is-white"></div>
        <div class="columns-block__image-cluster px-12p-md">
          {% for image in columns_block.image_cluster %}
            <img
              class="columns-block__image columns-block__image--sm columns-block__image--{{ loop.index }} columns-block__image--{{ Image(image).aspect < 1 ? 'portrait' : 'landscape' }}{{ loop.index == 2 ? ' js-parallax'}}"
              data-speed="0.1"
              src="{{ Image(image).src }}"
              alt="{{ post.title }}">
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="member-benefits py-12p px-20p px-8p-xl px-4p-lg px-3-md js-fx-trigger">
      <h2 class="member-benefits__heading js-fx">{{ benefits_list.heading }}</h2>
      <div class="member-benefits__row flex block-md js-fx">
        <div class="member-benefits__column px-3">
          {{ benefits_list.column_1 }}
        </div>
        <div class="member-benefits__column px-3">
          {{ benefits_list.column_2 }}
        </div>
      </div>
    </div>

    <div class="relative mb-10p mb-7-lg js-fx-trigger">
      <div class="hidden block-lg is-white absolute pos-t pos-l pos-r h-20"></div>
      <div class="hidden block-lg is-white absolute pos-b pos-l pos-r h-20"></div>
      <div class="pt-8p pb-20p pb-0-lg">
        <div class="flex justify-content-end block-lg is-gold">

            <div class="membership-form js-parallax" data-speed="0.1">
              <div class="membership-form__inner is-blue p-7 p-5-sm">
                <div class="membership-form__heading text-block__heading">
                  <span class="text-block__rule js-fx" data-tween="line"></span>
                  {{ form_text_block.heading }}
                </div>
                <div class="membership-form__body text-block__body">
                  {{ form_text_block.body }}
                </div>
                {% filter shortcodes %}
                  {{ form_text_block.form_shortcode }}
                {% endfilter %}
              </div>
              <div class="membership-form__caption py-2 px-5">
                {{ form_text_block.form_caption }}
              </div>
            </div>

            {% include "testimonial-slider.twig" with {
              "props": post.get_field('featured_testimonials'),
              "is_white": true,
              "classes": 'testimonial-slider--hidden-lg'
            } %}
        </div>
      </div>
    </div>


    {% include 'faq-tease-block.twig' with {
      props: faq_block,
    } %}
    {% include 'site-footer.twig' %}
  </div>

{% endblock %}
