{% extends 'base.twig' %}

{% set featured_member = post.get_field('featured_member') %}
{% set cta_card = post.get_field('cta_card') %}

{% block content %}

  <div class="view" data-namespace="members">

    {% include "hero.twig" with {
      "hero_text": post.hero_text,
      "hero_image": post.hero_image,
      "half_image": true
    } %}

    <div class="px-16p px-8p-lg px-0-md">
      <div class="featured-member">
        <h2 class="featured-member__heading">Featured Member</h2>
        <div class="featured-member__row">
          <div class="featured-member__column">
            <a
              class="reset-anchor"
              href="{{ featured_member.post.website }}"
              target="_blank"
              rel="nofollow noreferrer"
            >
              <img class="featured-member__image"
                src="{{ Image(featured_member.image
                  ? featured_member.image
                  : featured_member.post.image
                ).src }}"
                alt="{{ featured_member.post.title }}">
            </a>
          </div>
          <div class="featured-member__column">
            <a
              class="reset-anchor"
              href="{{ featured_member.post.website }}"
              target="_blank"
              rel="nofollow noreferrer"
            >
              <h3 class="featured-member__title">
                {{ featured_member.post.title }}
              </h3>
            </a>
            <div class="featured-member__description">
              {{ featured_member.description }}
            </div>
            <a
              class="featured-member__membership-cta-link"
              href="{{ featured_member.cta_link.target == "_blank"
                ? featured_member.cta_link.url
                : featured_member.cta_link.url|relative
              }}"
              target="{{ featured_member.cta_link.target }}"
            >
              {{ featured_member.cta_link.title }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="py-12p px-16p px-8p-lg px-3-md">
      <!-- preact entry point -->
      <div class="members"></div>
    </div>

    {% include "faq-tease-block.twig" with {
      "props": {
        "heading": options.default_faqs_heading.heading,
        "featured_posts": options.default_faqs
      }
    } %}
    {% include 'site-footer.twig' %}

    <script>
      window.CTA_CARD_TEXT = "{{ cta_card.text }}";
      window.CTA_CARD_LINK = "{{ cta_card.link }}";
    </script>
  </div>

{% endblock %}
